PyMuPDF==1.24.10
gspread==6.1.4
gspread_dataframe==4.0.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.41.0
google-cloud-datastore==2.24.0
google-cloud-storage==3.10.1
kaggle==1.6.17
pandas==2.2.3
pdfminer==20191125
pdfminer.six==20251230
Pillow==12.2.0
protobuf==5.29.6
psycopg2==2.9.10
PyPDF2==3.0.1
reportlab==4.2.2
Requests==2.33.0
urllib3>=2.6.3,<3
setuptools==78.1.1
SQLAlchemy==2.0.36
streamlit==1.54.0
streamlit-option-menu==0.4.0
tabula_py==2.9.3
